<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate="aside.nav.components.security.PASSWORDMANAGE">Password Manage</h1>
</div>
<div class="wrapper-md" ng-controller="passwordManageController">
    <!--<div class="row">-->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="search-box">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-2 col-md-2">
                                <span class="col-lg-4 col-md-4 control-label no-padder ">用户名：</span>
                                <span class="col-lg-8 col-md-8 no-padder">
                                <input class="form-control input-sm" type="text" name="username" ng-model="queryModel.username"/>
                            </span>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <span class="col-lg-4 col-md-4 control-label no-padder">域名：</span>
                                <span class="col-lg-8 col-md-8 no-padder">
                                <input class="form-control input-sm" type="text" name="domain" ng-model="queryModel.domain"/>
                            </span>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <span class="col-lg-4 col-md-4 control-label no-padder">IP：</span>
                                <span class="col-lg-8 col-md-8 no-padder">
                                <input class="form-control input-sm" type="text" name="ip" ng-model="queryModel.ip"/>
                            </span>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <span class="col-lg-4 col-md-4 control-label no-padder">关键字：</span>
                                <span class="col-lg-8 col-md-8 no-padder">
                                <input class="form-control input-sm" type="text" name="keyword" ng-model="queryModel.keyword"/>
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 col-md-4">
                                <span class="col-lg-2 col-md-2 control-label no-padder">创建日期：</span>
                                <span class="col-lg-4 col-md-4 no-padder">
                                    <input type="text" class="datepicker form-control" style="cursor:default" datepicker-popup="{{format}}" ng-model="queryModel.createDateStart" is-open="createDateStart.status"
                                           ng-click="createDateStart.status = true" readonly
                                           datepicker-options="createDateStartOptions" ng-required="true" close-text="Close" />
                            </span>
                                <span class="col-lg-1 col-md-1 no-padder text-center">—</span>
                                <span class="col-lg-4 col-md-4 no-padder">
                                    <input type="text" class="datepicker form-control" style="cursor:default" datepicker-popup="{{format}}" ng-model="queryModel.createDateEnd" is-open="createDateEnd.status"
                                           ng-click="createDateEnd.status = true" readonly
                                           datepicker-options="createDateEndOptions" ng-required="true" close-text="Close" />
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 col-md-4">
                                <span class="col-lg-2 col-md-2 control-label no-padder">更新日期：</span>
                                <span class="col-lg-4 col-md-4 no-padder">
                                    <input type="text" class="datepicker form-control" style="cursor:default" datepicker-popup="{{format}}" ng-model="queryModel.updateDateStart" is-open="updateDateStart.status"
                                           ng-click="updateDateStart.status = true" readonly
                                           datepicker-options="updateDateStartOptions" ng-required="true" close-text="Close" />
                            </span>
                                <span class="col-lg-1 col-md-1 no-padder text-center">—</span>
                                <span class="col-lg-4 col-md-4 no-padder">
                                    <input type="text" class="datepicker form-control" style="cursor:default" datepicker-popup="{{format}}" ng-model="queryModel.updateDateEnd" is-open="updateDateEnd.status"
                                           ng-click="updateDateEnd.status = true" readonly
                                           datepicker-options="updateDateEndOptions" ng-required="true" close-text="Close" />
                            </span>
                            </div>
                            <div class="col-lg-3 col-md-3">
                             <span class="col-lg-11 col-md-11 col-lg-offset-1 col-md-offset-1 no-padder">
                                <button type="button" class="btn btn-info btn-sm" ng-click="doPagingSearch(1)">
                                    <i class="glyphicon glyphicon-search"></i>&nbsp;查询
                                </button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="reset()"><i class="glyphicon glyphicon-refresh"></i>&nbsp;重置</button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="line b-b"></div>
                <div class="tool-box">
                    <div class="pull-left pos-rlt m-r-md">
                        <button class="btn btn-info" ng-click="popPasswordManageAdd()"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加密码</button>
                    </div>
                </div>
                <div class="line"></div>
                <div class="grid-box">
                    <div ui-grid="gridOptions" ui-grid-resize-columns  ui-grid-selection ui-grid-auto-resize style="width: 100%;height:500px;" class="grid"></div>
                    <div class="panel-footer">
                        <div class="col-sm-4 col-sm-offset-8 text-right text-center-xs no-padder">
                            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>